<div class="ppp">
    <button id="quitar" class="quitar" (click)="onNoClick()" style="outline: none;outline: none;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    color: white;">
        <i class="material-icons">clear</i> <!-- Animation here -->
    </button>
    <div mat-dialog-content>
        <h5 stile="color:white">Estas seguro que desea eliminar.</h5>
    </div>
    <div mat-dialog-actions style="justify-content: flex-end;">
        <button mat-raised-button color="white" (click)="onNoClick()" cdkFocusInitial
            style="outline: none;"><mat-label style="font-size:20px ;color:red">No</mat-label></button>
        <button mat-raised-button color="white" (click)="eliminar()" style="outline: none;">
            <mat-label style="font-size: 20px; color:red;">Si</mat-label></button>
    </div>

</div>