.container-fluid{
    height: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}
.menu{
    height: calc(100% - 60px);
    width: 100%;
}

.nombre-rutina{
    position: absolute;
    top: 0;
    padding-right: 5px;
    height: 51px;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    width: 91%;
    justify-content: center;
    font-size: 20px;
}
.nombre-dias{
    justify-items: center;
    color: white;
    font-size: 20px;
    position: absolute;
    /* top: 0; */
    text-align: center;
    width: 90%;
    height: 50px;
}
.boton-guardar{
    display: flex;
    z-index: 60;
    position: fixed;
    bottom: 8px;
    left: 0;
    width: 100%; 
}
.boton-rutina{
    height: 100px;
    width: 98%;
    border-radius: 30px;
    border: 2px solid;
    border-width: 2px solid;
    border-color: white;
    outline: none;
    display: block;
    position: sticky;
    border: 3px solid white;
    background-color: #8400FF;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.64);
}


#fab-dismiss {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,.32);
  } 

/*Boton add*/
.botonfab2{
    
    float: right;
    z-index: 99;

}
.fab-container2 {

right: 3%;
position: fixed;
bottom: 1%;
z-index: 90;
display: flex;
flex-direction: column-reverse;

}
.fab-container2 > div {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 5px;
}   


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: red !important; /* Red background for example */
}