<div class="continer-fluid">
    <div class="menu">


        <div *ngFor="let rutina of Rutinas; let i=index">


            <div class="row" style="    justify-content: center;  margin:0px">
                <div class="col-xs-1" style="margin-top: 5%;height: 100px;align-items: center;display: flex;margin-right: 4%;">
                    <div *ngIf="eli">
                        <mat-checkbox class="example-margin" [(ngModel)]="rutina.eliminar"></mat-checkbox>
                    </div>

                </div>
                <div class="col-xs-11" style="margin-top: 5%;width: 78%;">
                    <button class="boton-rutina" mat-button (click)="pulsarRutina(i)">
                        <div class="nombre-rutina">{{rutina.nombre}}</div>
                        <div class="nombre-dias">Nº de dias {{rutina.dias}}</div>
                        <div *ngIf="rutina.fav">
                            <i id="iddfav" class="material-icons"
                                style="color:white;display: inline-block;font-size: 34px;top: 7px;right: 11px;;position: absolute;">check</i>
                        </div>
                    </button>
                </div>
            </div>


        </div>
        <div style="height: 66px;width: 100%;"></div>
    </div>

    <div class=boton-guardar>
        <ng-container *ngIf="eli; else elseEliminar">
            <button mat-fab (click)="eliminarElementos()"
                style="background-color: #8400FF;outline: none; position: relative;left: 2%;">
                <i class="material-icons" style="color: white;">close</i> <!-- Animation here -->
            </button>
            <button mat-fab (click)="mensajeError()" style="background-color: #8400FF;outline: none; position: absolute;
            right: 2%;">
                <i class="material-icons" style="color: white;">delete</i> <!-- Animation here -->
            </button>
        </ng-container>
        <ng-template #elseEliminar>
            <button mat-fab (click)="eliminarElementos()"
                style="background-color: #8400FF;outline: none; position: relative;left: 2%;">
                <i class="material-icons" style="color: white;">remove</i> <!-- Animation here -->
            </button>
            <button mat-fab (click)="addNuevaRutina()"
                style="background-color: #8400FF;outline: none; position: absolute;right: 2%;">
                <i class="material-icons" style="color: white;">add</i> <!-- Animation here -->
            </button>
        </ng-template>

    </div>




</div>