<div class="ppp">

    <img class="i-meta" src="assets/imagenes/mancuerna4.png">
    <h1 mat-dialog-title>Cambiar nombre del Día</h1>
    <form [formGroup]="diaForm" (ngSubmit)="addNombre()">
        <div mat-dialog-content>
            <div class="editarmeta">
                <input id="nombre" type="text" placeholder="Ej: Pecho y Biceps *" formControlName="nombre" style="color:white" autocomplete="off">
            </div>
        </div>
        <div mat-dialog-actions style="justify-content: flex-end;">
            <button type="submit" mat-raised-button color="white" style="width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Guardar</button>
        </div>
    </form>
</div>
