::ng-deep.mat-dialog-container{
    
    background-color: #2e2896;
    color: white;
    border-radius: 21px;
  }


   .ppp{
     justify-content: center;
     text-align: center;
     align-items: center;
   }
  .editarmeta{
        display: inline-flex;
    background-color: #303030;
    width:100%;
    box-sizing:border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #50559e8c;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:3px solid white;
    margin-bottom: 10px;
  }
  
  .editarmeta:focus-within{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:rgba(0, 217, 255, 0.459);
    border-bottom:3px solid rgba(0, 217, 255);
  }
  input{
    position: relative;
    width: 100%;
    padding-left: 10px;
    bottom: 0px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    
    font-size: 18px;
  }
  
  ::placeholder {
    color: var(--c, white);
}
  .icono{
        width: 35px;
        height: 35px;
  }
  
  .i-meta{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }


::ng-deep.mat-raised-button {
   
    border-radius: 20px;
}