<div class="ppp">

    <img class="i-meta" src="assets/imagenes/mancuerna4.png">
    <h1 mat-dialog-title>Añadir Rutina</h1>
    <form [formGroup]="rutinaForm" (ngSubmit)="addRutina()">
        <div mat-dialog-content>

            <div class="editarmeta">
                <input id="nombre" type="text" placeholder="Nombre Rutina *" formControlName="nombre" style="color:white" autocomplete="off">
            </div>
            <div class="editarmeta">
                <mat-select id="duracion" [(value)]="selected" placeholder="Duración en semanas *"
                    formControlName="duracionSemanas">
                    <mat-option>Duración en semanas</mat-option>
                    <mat-option value="1">1 semana</mat-option>
                    <mat-option value="2">2 semanas</mat-option>
                    <mat-option value="3">3 semanas</mat-option>
                    <mat-option value="4">4 semanas</mat-option>
                    <mat-option value="5">5 semanas</mat-option>
                    <mat-option value="6">6 semanas</mat-option>
                    <mat-option value="7">7 semanas</mat-option>
                    <mat-option value="8">8 semanas</mat-option>
                    <mat-option value="9">9 semanas</mat-option>
                    <mat-option value="10">10 semanas</mat-option>
                </mat-select>
            </div>
            <div class="editarmeta">
                <mat-select id="dias" [(value)]="selected1" placeholder="Dias de entrenamiento *"
                    formControlName="diasEntrenamiento">
                    <mat-option>Dias de entrenamiento</mat-option>
                    <mat-option value="1">1 día</mat-option>
                    <mat-option value="2">2 dias</mat-option>
                    <mat-option value="3">3 dias</mat-option>
                    <mat-option value="4">4 dias</mat-option>
                    <mat-option value="5">5 dias</mat-option>
                    <mat-option value="6">6 dias</mat-option>
                    <mat-option value="7">7 dias</mat-option>
                </mat-select>
            </div>
        </div>
        <div mat-dialog-actions style="justify-content: flex-end;">
            <button type="submit" mat-raised-button color="white" style="width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Guardar</button>
        </div>
    </form>
</div>