
.mat-toolbar,.mat-toolbar-row,.mat-toolbar-multiple-rows{
    
    max-height: 56px;
    min-height: 56px;
}
.container-fluid{
    height: calc(100% - 56px);
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;    
    font-family: "calibri";
    display: block;
    overflow-y: auto;
  }
  .nombre-ejer{
    position: absolute;
    top: 0;
    padding-top: 2px;
    margin-left: 68px;
    padding-right: 5px;
    height: 51px;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    /* justify-items: center; */
    width: 75%;
    justify-content: center;
    font-size: 17px;
  }
  .nombre-repe{
    position: absolute;
    /* top: 0; */
    bottom: 0;
    padding-top: 2px;
    margin-left: 68px;
    padding-right: 5px;
    height: 51px;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    width: 75%;
    justify-content: center;
    font-size: 20px;
  }
  .nombre-repeticion{
    margin-left: 7px;
    color: white;
    font-size: 20px;
    border-bottom: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
  }
.elemento{
    margin-top: 10px;
    /* margin: 0px; */
    text-align: center;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
}
.serie{
    text-align: right;
    margin-right: 9px;
}
.n-serie{
    border: solid;
    border-color: #8400FF;
    border-radius: 100%;
    width: 54px;
    text-align: center;
}
.cuadro-ejercicio{
    text-align: center;
    margin-bottom: 5px;
    
}
.boton-serie{
    height: 100px;width: 90%;border-radius: 30px;border: 2px solid;
    border-width: 2px solid;
    border-color: white;
    outline: none;
    display:initial;
    position: relative;
    background: #8400FF;
    /* background: radial-gradient(circle, rgba(131,0,255,1) 0%, rgba(0,0,205,0.6026785714285714) 100%);*/
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.64);
}
.imagen{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 12.5px;
    left: 5px;
    margin-left: 2px;
}
::placeholder {
    color: var(--c, black);
}
.carga{
    display: inline-flex;
    width: 26%;
    height: 39px;
    max-width: 100px;
    box-sizing: border-box;
    border-radius: 17px;
    border: 3px solid #8400FF;
    outline: none;
    resize: none;
    /* border: 0; */
   
    transition: all .3s;
    margin-bottom: 10px;
  }

  input{
    position: relative;
    width: 100%;
    padding-left: 10px;
    bottom: 0px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-size: 18px;
  }
  .boton-final{

    display: block;
    z-index: 60;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: center;

}
.seccion{
    
    margin-bottom: 45px;
}

    @media(min-height:1000px){
        .boton-serie{
            width: 85%;
            
        }
    }
  @media(min-width:1000px){
      .boton-serie{
            max-width: 300px;
      }
      .carga{
          margin-left: 15px;
      }
    .container-fluid{
        height: calc(100% - 74px);
    }
    .mat-toolbar,.mat-toolbar-row,.mat-toolbar-multiple-rows{
        max-height: 74px;
        min-height: 74px;
    }
    .material-icons{
        font-size: 40px;
    }
    .mat-toolbar h1{
        font-size: 29px;
    }
}
