<mat-toolbar color="primary" style="text-align: center;">
  <mat-toolbar-row>
    <div *ngIf="edit">
      <button id="atr" mat-icon-button style="outline: none;" (click)="atras()">
        <mat-icon style="color:white">arrow_back</mat-icon>
      </button>
    </div>
    <h1 style="position: relative;
            width: 100%;
            left: 0;
            text-align: center">Ejecución</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="fav; else elsefav">

      <mat-icon style="color:white">favorite</mat-icon>
      <!-- star_rate stars star star_border favorite favorite_border  done -->

    </div>


  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
  <div class="seccion">
    <div class="row elemento">
      <div class="col-xs-6 serie">
        <h1>Serie:</h1>
      </div>
      <div class="col-xs-6" style="text-align: left;">
        <h1 class="n-serie">{{serie}}</h1>
      </div>
    </div>
    <!--Botones-->

    <div *ngFor="let ejer of ejercicios; let i=index">
      <div class="cuadro-ejercicio">
        <button class="boton-serie" (click)="show(i)">
          <img class="rounded-circle imagen" src="{{ejer.imagen}}" alt="Circular Image">
          <div class="nombre-ejer">
            <div style="display: flex;">{{ejer.nombre}}</div>
          </div>
          
            <ng-container *ngIf="ejer.repe; else elseRepe">
              <div  class="nombre-repe">Repeticiones:
                <div class="nombre-repeticion">
                  {{ejer.repeticiones[0]}}
                </div>
              </div>
              
            </ng-container>
            <ng-template #elseRepe>
              <div  class="nombre-repe">Repeticiones:
              <div class="nombre-repeticion" >
                {{ejer.repeticiones[serie-1]}}
              </div>
              </div>

              
            </ng-template>
      
          
  
        </button>
  
      </div>
      <ng-container *ngIf="ejer.musculo=='Bici' || ejer.musculo=='Cinta' || ejer.musculo=='Eliptica' ; else elseCardio">
        
      </ng-container>
      <ng-template #elseCardio>
        <div style="text-align: center;">
          <mat-label style="font-size: 21px;">Carga</mat-label>
          <div class="example-button-row">
            <div class="example-flex-container">
    
              <button id="removeDia" mat-icon-button style="outline: none;" (click)="remove(i)">
                <mat-icon style="color:#8400FF">remove_circle</mat-icon>
              </button>
              <div id="n1" class="carga">
                <input id="carga{{i}}" type="number" placeholder="0 kg" style=" text-align: center;" [value]="carga[i][serie-1]" >
              </div>
              <button id="removeDia" mat-icon-button style="outline: none;" (click)=add(i)>
                <mat-icon style="color:#8400FF">add_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      
      <mat-divider style="border-color: #8400FF;margin-left: 5%;margin-right: 5%; margin-bottom: 2%;"></mat-divider>
    </div>

   

  </div>
  <ng-container *ngIf="serie==maxSerie; else elseTerminar">
    <div class=boton-final>
      
   <button mat-flat-button color="primary" (click)="terminar()"
      style="width: 100%; height: 40px;outline: none;font-size: 20px;border-radius: 5px;border-right: 1px solid white;">
      Terminar
    </button>
  </div>
  </ng-container>
  <ng-template #elseTerminar>
    <div class=boton-final>
      <button mat-flat-button color="primary" (click)="terminar()"
        style="width: 50%; height: 40px;outline: none;font-size: 20px;border-radius: 5px;border-right: 1px solid white;">
        Terminar
      </button>
      <button mat-flat-button color="primary" (click)="siguinte()"
        style="width: 50%; height: 40px;outline: none;font-size: 20px;border-radius: 5px;border-left: 1px solid white;">
        Siguiente
      </button>
    </div>
  </ng-template>
  
 

</div>