::ng-deep.mat-dialog-container{
    background-color: #2e2896;
    color: white;
    border-radius: 21px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 3px;
  }


   .ppp{
     justify-content: center;
     text-align: center;
     align-items: center;
   }
  .editarejer{
        display: inline-flex;
    
    width:35%;
    box-sizing:border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #50559e8c;
    border-bottom:3px solid white;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    
    margin-bottom: 10px;
  }
   .editarejer1{
    display: inline-flex;
    width:45%;
    box-sizing:border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #50559e8c;
    border-bottom:3px solid white;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    
    margin-bottom: 10px;
  }
  .editarejer:focus-within{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 217, 255, 0.459);
    border-bottom:3px solid rgba(0, 217, 255);
  }
  .editarejer1:focus-within{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 217, 255, 0.459);
    border-bottom:3px solid rgba(0, 217, 255);
  }
  input{
    position: relative;
    width: 100%;
    padding-left: 10px;
    bottom: 0px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-size: 18px;
  }
 
  ::placeholder {
    color: var(--c, white);
}
  .icono{
        width: 35px;
        height: 35px;
  }
  
  .i-meta{
    width: 100px;
    height: 100px;
    margin-left: 15%;
    margin-bottom: 5px;
  }

::ng-deep.mat-raised-button {
   
    border-radius: 20px;
}
   
.delete{
  position: sticky;
    float: left;
    bottom: 6%;
    z-index: 1000;
}
.quitar{
  position: -webkit-sticky;
    display: block;
    position: relative;
    top: -18px;
    right: -15px;
    float: right;
    /* bottom: -33%; */
    /* left: 367px; */
    z-index: 1001;
}

::ng-deep.mat-fab .mat-button-wrapper {
     padding: 0px 0;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(254,254,254,.44);
}
::ng-deep.mat-dialog-actions {
  padding:0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  margin-bottom: 0px;
}