<div class="ppp">
    <button id="quitar"  class="quitar" (click)="onNoClick()" style="outline: none;outline: none;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    color: white;">
        <i class="material-icons">clear</i> <!-- Animation here -->
    </button>
    <img class="i-meta" src="{{imagen}}">
    

        <h1 mat-dialog-title> {{data.nombre}}</h1>


    
        <div mat-dialog-content>
            <mat-divider style="border-top-color: white"></mat-divider>
            <section>
                <div class="example-button-row">
                    <div class="example-flex-container">

                        <button id="removeDia" mat-icon-button  color="white" [disabled]="repe.length === 0" (click)=substractSerie() style="outline: none;">
                        <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <div id="n1" class="editarejer">
                            <input id="serie" type="number" placeholder="Nº Series *"   style="color:white; text-align: center;" [value]="serie" disabled  >
                        </div>
                        <button id="removeDia" mat-icon-button  color="white" [disabled]="repe.length === 6" (click)="addSerie()" style="outline: none;">
                        <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div style="margin-top: 10px;">
                        <div style="margin-top: 5px;" >
                            <mat-label style="color:white ;font-size:20px; margin-right: 10px;"> No Repetir</mat-label>
                            <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
                            <mat-label style="color:white; font-size:20px; margin-left:10px">Repetir</mat-label>
                        </div>
                        
                        <ng-container *ngIf="isChecked; else elseTemplate2">

                            <div *ngIf="serie!=null">
                                <mat-label style="color:white;margin-left: 28%;font-size: 20px;">Repeticiones</mat-label>
                            </div>
                            <mat-label style="color:white;font-size:20px; margin-right: 20px;">Series</mat-label>
                            <div id="n1" class="editarejer1">
                                <input id="sinRepetir" type="text" placeholder="7 - 7 - 7"  style="color:white;" [value]="sinRepetir"  autocomplete="off">
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate2>
                            <div *ngIf="serie!=null">
                                <mat-label style="color:white;margin-left: 28%;font-size: 20px;">Repeticiones</mat-label>
                            </div>
                            <div *ngFor="let i of repe; let id=index">
                                <mat-label style="color:white ;font-size:20px; margin-right: 20px;">Serie {{i}}:</mat-label>
                                <div id="n1" class="editarejer">
                                <input id="repe{{id}}" type="text" placeholder="Rep."  style="color:white;font-size:20px; margin-right: 20px;" [value]="repeticiones[id]" autocomplete="off">
                                </div>
                            </div>
                        </ng-template>
                    </div>
                   
                </div>
            </section>
        </div>
        
        
        <div mat-dialog-actions style="justify-content: flex-end;">
            <button id="modi"  mat-raised-button color="white" style=" width: 93.41px;;outline: none; color:black; border:3px solid #8400FF"
                (click)="addEjerDia()">Añadir</button>
        </div>
   
   
    
    
</div>