body {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left:15px ;
    padding-top: 77px;
    padding-bottom: 33px;
    background: #f2f2f2;
    /*background-color: #8753ff;*/
}

.modal{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-height: 650px;
    max-width: 390px;
    background-color:white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.modal-dialog{
    height: 100%;
    margin: 0px;
}
.icono-principal{
    
    width:116.33px;
    height:116.33px;
    box-align: center;
    align-items: center;
    margin: 10px;
}
.modal-content {
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
   
}
.mitad{
    position: relative;
	top: 25%;
}
.modal-header{
    display:block;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 1px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login .form-group {
    margin-bottom: 20px;
    
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 30px; 
    font-size: 15px;
    transition: all 0.5s;
}
.modal-login .form-control {
    font-size: 13px;
}
.form-control{
    border-width: 2px;
    border-color: mediumblue;
}
.hint-text{
    
    padding-top: 4px;
    
    color: #999;
}
.modal-body{
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.merror{
    background-color: #fbe5e1;
    color: #a62d19;
    font-size: 15.8px;
    border-radius: 20px;
    width: 75%; 
}
.modal-login {
    text-align: center;
    padding-top: 10px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .btn {
    background: #853ee2;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #611f9e;
}
.modal-login .hint-text a {
    color: mediumblue;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
.crear{

    padding-top:30px;
    
    text-align: center;

    color: #999;
}
.cla{
    margin-top: 40px;
}
::placeholder {
    color: var(--c, #999);
   }
@media (max-height:650px){
    
   .p{
      
       padding-right: 10px;
        padding-left:10px ;
        padding-top: 15px;
        padding-bottom: 10px;
   }
   .crear{
       margin: 0;
   }
}
@media (max-height:595px){
    
    .p{
       
        padding-right: 10px;
         padding-left:10px ;
         padding-top: 15px;
         padding-bottom: 10px;
    }
    .crear{
        margin: 0px;
        padding-top: 0px;
    }
    .cla{
        margin-top: 20px;
    }
 }

@media (max-height:680px){
    
    .p{
      
        padding-right: 10px;
         padding-left:10px ;
         padding-top: 15px;
         padding-bottom: 10px;
    }
    .crear{
        margin: 0;
    }
 }
@media (min-height:720px){
    
    .crear{
        margin-top:50px;
    }
 }