.container{
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    display:flex; 
    flex-direction:column;
    font-family: Calibri;
}

::ng-deep.mat-calendar-arrow{
    display:none;
    border-top-color: white;
}
::ng-deep.highlight-dates >div {
    background-color: #673ab7 !important;
    color: #fff;
    border-radius: 100%; 
}

::ng-deep.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    box-shadow: inset 0 0 0 1px #fff;
    border-color:#673ab7;
    border-top-width: 2px; 
    border-right-width: 2px; 
    border-bottom-width: 2px; 
    border-left-width: 2px;
}
::ng-deep.aa .mat-calendar-header {
    padding-left: 0px;
    padding-top:0px;
    padding-right: 0px;
    padding: 0px 0px 0px 0px;
    
}
::ng-deep.aa .mat-calendar-controls {
    margin-top: 5px;
    margin-bottom: 5px;
}
::ng-deep.aa .mat-calendar-header{
    max-width: 100%;
}
::ng-deep.aa .mat-calendar-content{
    max-width: 100%;
}

.separador{
    height: 1px;
    border-bottom-style: inset;
    border-bottom-color: darkorchid;
    position: static;
    margin-top: 40px;
}
.prueba{
    flex:1;/* will use whole space left below image if height is set to #outer */

  overflow:auto; 
}
.elemento{
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.cuadro-fecha-dia{
    width: 14%;
    height: 54px;
    max-width: 52px;
    margin-left:0px;
    text-align: center;
    /*
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-color: mediumblue;
    border-image-slice: 1;*/
    background-color: #c7baeb41;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.borde{
    width: 2%;
    height: 54px;
    background-color: #c7baeb41;
    /*
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-color: mediumblue;*/
    max-width: 4px;
 
}
.cuadro-separadorr{
    width: 100%;
    margin-top: 7px;
    height: 40px;
    background-color: #8400FF;
    
}
.cuadro-descripcion{
    width: 67%;
    height: 54px;
    background-color: #c7baeb41;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.cuadro-icono{
    width: 14%;
    height: 54px;
    max-width: 52px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #c7baeb88;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /*
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-color:#8400FF;*/
}
.numero-fecha{
    
    width: 100%;
    height: 35px;
    font-size: 30px;
}
.nombre-dia{
    height: 15px;
    font-size: 13px;

}
.nombre-rutina{
    width: 100%;
    height: 25px;
    padding-left: 10px;
    align-items: center;
    font-size: 19px;
  
}
.nombre-duracion{
    height: 25px;
  
    padding-left: 10px;
    font-size: 19px;
}
.cuadro-icono>.mat-icon{
    height: 37px;
    width: 37px;
}
.icono{
    font-size: 31px;
    padding-top: 9.5px;
    height: 37px;
    width: 37px;
    color: #706e77;
}
/*Cosas del boton*/

#fab-dismiss {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,.32);
  }
  ::ng-deep.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #8400FF;
}
.fab-container {
    position: fixed;
    bottom: 8px;
    right: 8px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .fab-container > div {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          margin-bottom: 5px;
  }
    .fab-toggler {
    float: right;
    z-index: 100;
  }
  ::ng-deep.mat-mini-fab {
    width: 50px;
    height: 50px;
    }

    ::ng-deep .mat-raised-button.mat-accent{
        background-color: #8400FF;
        color:white;
    }
    button{
        margin:5px;
    }
    ::ng-deep.mat-raised-button{
        color:black
    }
    .label{
        background-color: #8400FF;
        color:white;
        border-radius: 5px;
        width: 36px;
        height: 24px;
        margin-left: -60px;
        margin-right: 15px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
::ng-deep.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    background-color: #8400FF;
    color: white;
}
::ng-deep.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    color: white;
}
::ng-deep._mat-animation-noopable.mat-mini-fab {
    
    margin-top: 5px;
}
::ng-deep.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected), .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    background-color: blue;
    }
    ::ng-deep.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
        background-color:transparent;
    }

@media(min-width:600px){
    ::ng-deep.aa .mat-calendar-header{
        max-width: 540px;
        margin: auto;
    }
    ::ng-deep.aa .example-header{
        max-width: 540px;
        margin:auto
    }
    ::ng-deep .aa .mat-calendar-content{
        max-width: 540px;
        max-height: 540px;
       margin: auto;
    }
}

@media(max-width:401px){
    .nombre-rutina,.nombre-duracion{
        font-size: 17px;
    }
}
@media(max-width:361px){
    .nombre-rutina,.nombre-duracion{
        font-size: 14px;
    }
    .numero-fecha{
        font-size: 25px;
        height: 30px;
    }
}
@media(min-height:1100px){


    ::ng-deep.fab-container > .mat-fab{
        width: 76px;
        height: 76px;
    }
}