<div class="container">
    <div id="fab-dismiss" *ngIf="fabTogglerState==='active'" (click)="onToggleFab()"></div>
    <div *ngIf="estatodo">
        <div class="row">


            <div class="col-xs-12" style="height: 100%;min-width: 100%;">
                <mat-calendar id="1" class="aa" #calendar [headerComponent]="exampleHeader" [dateClass]="dateClass()">
                </mat-calendar>
            </div>
        </div>
    </div>
    <div class="prueba">
        <div *ngFor="let fecha of month; let i=index">
            <div class="row elemento">
                <div id="fecha" class="col-xs-3 cuadro-fecha-dia">
                    <div id="numero" class="numero-fecha">{{fecha.numeroDia}} </div>
                    <div id=" dia" class="nombre-dia">{{fecha.dia}}</div>

                </div>
                <div class="borde">
                    <div id="separator" class="col-xs-1 cuadro-separadorr">
                    </div>
                </div>
                <div id="descripcionR" class="col-xs-5 cuadro-descripcion">
                    <ng-container *ngIf="fecha.diaRutina==='Actualización Peso'; else elseNombre">
                        <div id="nombreR" class="nombre-rutina"> {{fecha.diaRutina}}</div>
                    </ng-container>
                    <ng-template #elseNombre>
                        <div id="nombreR" class="nombre-rutina"> {{fecha.nombreRutina}} - {{fecha.diaRutina}}</div>
                    </ng-template>

                    <div id="duracionR" class="nombre-duracion">{{fecha.Duracion}}</div>
                </div>
                <!--<div id="iconoVer" class="col-xs-3 cuadro-icono">
                    <mat-icon class="icono">remove_red_eye</mat-icon>
                </div>-->
            </div>
        </div>
    </div>


    <div style="height: 66px;width: 100%;"></div>

    <div class="fab-container">

        <button mat-fab class="fab-toggler" (click)="onToggleFab()" style="outline: none;">
            <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
        </button>

        <div [@speedDialStagger]="buttons.length">
            <!-- and here -->
            <button *ngFor="let btn of buttons" class="fab-botones" mat-raised-button (click)="fabButton(btn.label)"
                style="margin: 4px;
                        line-height: 33px;
                        padding: 0px 8px;
                        min-width: 83px;
                        min-height: 33px;
                        border-radius: 20px;">
                {{btn.label}}
            </button>
        </div>

    </div>


</div>




