.container{
    height: calc(100% - 56px);
    width: 100%;
    display: block;
    text-align: center;
}
/*Barra meju*/
.mat-toolbar,.mat-toolbar-row,.mat-toolbar-multiple-rows{
    
    max-height: 56px;
    min-height: 56px;
}
::ng-deep.mat-fab .mat-button-wrapper{
  padding: 0px;
}
.botonfab3{
    
  float: right;
  z-index: 99;

}
.fab-container3 {
position: fixed;
bottom: 6%;
left: 45%;
z-index: 90;
display: flex;
flex-direction: column-reverse;

}
.fab-container3 > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;
}   

.a{
    min-width: 52px;
    padding :0;
}
::ng-deep .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}
::ng-deep .mat-tab-group{
    align-items: center;
}
::ng-deep .mat-tab-label {
    min-width: 62px !important;
    padding :0 !important;
}
/*Menu configuration TAB*/
::ng-deep.mat-tab-body-wrapper {
    width: 100%;
    height: 100%;

}
::ng-deep.mat-tab-body {
    height: 100%;
    width: 100%;
   
}

.tab-menu{
    height: calc(100% - 66px);
    width: 100%;
}
/* Css Dia*/
.container-fluid{
    height: calc(100% - 56px);
    width: 100%;
    display: block;
    text-align: center;
 
  }
.row{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    
  }
.eliminar{
  height: 20px;
  align-items: center;
}
.superset{
  height: 60px;
}
   .ejercicio{
       width: 100%;
       height:81px; 
       
   }
  
    .superserie{
      width: 2%;
      height: 81px;
      max-width: 10px;
      min-width: 10px;
      
    }
    .superserie1{
      width: 2%;
      height: 81px;
      background-color: #8400ff;
      max-width: 10px;
      min-width: 10px;
      
    }
    .superserie2{
      width: 2%;
      height: 81px;
      background: #FFFF05;
      max-width: 10px;
      min-width: 10px;
    }
    .superserie3{
      width: 2%;
      height: 81px;
      background:grey;
      max-width: 10px;
      min-width: 10px;
    }
    .cuadro-imagen{
      width: 25%;
      height: 81px;
      max-width: 81px;
      min-width: 75px;
      margin-left:0px;
      padding: 3px; 
  }
  .cuadro-atributos{
      width: 65%;
      height: 81px;
      flex-grow: 1;
     
      
      margin-left: 2px;
     
  }
  .cuadro-super{
    width:10% ;
    flex-grow: 1;
     height:50px;
     max-width: 40px;
     min-width: 40px;
     
  }
  .icon-superset{
    margin-top: 22.5px;
  }
  .cuadro-atributos1{
    width: 73%;
    height: 81px;
    flex-grow: 1;
    margin-right: 30px;
    margin-left: 2px;
  }
  .tipo-ejercicio{
    width: 75px;
    height: 75px;
    border-bottom-width: 3px; 
    border-bottom-style: outset;
    border-right-width: 3px;
    border-right-style: outset;
    
  }
  .nombre-ejercicio{
      width: 85%;
      height: 50px;
      display: flex;
      align-items: center;
      font-family: Calibri; 
      font-size: 14px/*20*/
  }
  .cuadro-icono1{
      width: 11.5%;
      height: 29px;
      max-width: 32px;
      padding-left: 1px;
      /*border-bottom-width: 1px; border-bottom-style: solid*/
  }
  .cuadro-serie{
      width: 21%;
      height: 29px;
      max-width: 80px;
     /* border-bottom-width: 1px;
      border-bottom-style: solid;*/
      display: flex;
      align-items: center;
  }
  .cuadro-repeticiones{
      width: 66.5%;
      height: 29px;
     /* border-bottom-width: 1px; border-bottom-style: solid;
      margin-right: 1px;*/
      flex-grow: 1;
      display: flex;
      align-items: center;
  }
  
  .nombre-serie{
    font-family: Calibri; 
    font-size: 14px;
  }
  .play{
    /*background-color: red;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px; 
  }
  .btn-color-1{
    color: white;
    background-color: purple;
    width: 100%;
    height: 100%;
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: red !important; /* Red background for example */
}
  
  @media (min-width:1024px){
    .ejercicio{
      height: 100px;
    }
    .superserie,.superserie1, .superserie2,.cuadro-atributos, .cuadro-atributos1 {
      height: 100px;
    }
    .cuadro-imagen{
      max-width: 100px;
      height: 100px;
    }
    .nombre-ejercicio{
      height: 62.5px;
      display: flex;
      align-items: center;
      font-size: 25px; /*30*/
    }
    .cuadro-repeticiones,.cuadro-serie{
      height: 36.25px;
    }
    .cuadro-icono1{
      height: 36.25px;
      max-width: 40px;
    }
    .tipo-ejercicio{
      height: 93.75px;
      width: 93.75px;
    }
   .icono1{
     width: 33.75px;
     height: 26.25px;
   }
   .nombre-serie{
    font-size: 17.5px;
   }
  }
  
   @media (max-width:390px){
      .superserie,.superserie1,.superserie2,.superserie3,.cuadro-imagen, .cuadro-atributos{
        height: 71px;
      }
      .cuadro-imagen{
        max-width: 71px;
        min-width: 65px;
      }
      .tipo-ejercicio{
        width: 65px;
        height: 64px;
      }
      .nombre-ejercicio{
        width: 80%;
        height: 43px;
      }
      .cuadro-super{
        width: 10%;
        height: 43px;
      }
      .icon-superset{
        margin-top: 9.5px;
      }
    }
/*boton final*/
.boton-guardar{
    display: flex;
    z-index: 60;
    position: fixed;
    bottom: 8px;
    left: 0;
    width: 100%; 
}
@media(min-width:1000px){
    .container{
        height: calc(100% - 74px);
    }
    .mat-toolbar,.mat-toolbar-row,.mat-toolbar-multiple-rows{
        max-height: 74px;
        min-height: 74px;
    }
    .material-icons{
        font-size: 40px;
    }
    .mat-toolbar h1{
        font-size: 29px;
    }
}



