<mat-toolbar color="primary" style="text-align: center;">
  <mat-toolbar-row>
    <div *ngIf="edit">
      <button id="menu" mat-icon-button style="outline: none;" (click)="atras()">
        <mat-icon style="color:white">arrow_back</mat-icon>
      </button>
    </div>
    <h1 style="position: relative;
          width: 100%;
          left: 0;
          text-align: center">{{titulo}}</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="fav; else elsefav">

      <mat-icon style="color:white">check</mat-icon>
      <!-- star_rate stars star star_border favorite favorite_border  done -->

    </div>


  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid">
  <div class="tab-menu">
    <mat-tab-group [(selectedIndex)]="selectedTab" style="width: 100%;height: 100%;">
      <mat-tab class="tab-container" *ngFor="let tab of p; let index = index" [label]="tab.tab"
        style="align-items: center;height: calc(100%- 104px);width: 100%; background-color: blue;">
        <section>
          <div class="example-button-row">
            <div class="example-flex-container">
              <ng-container *ngIf="!edit; else elseEditBotones">
                <button id="removeDia" mat-icon-button color="primary" style="outline: none;"
                  [disabled]="p.length === 1 || eliminar===true" (click)="removeTab()">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>

                <button id="addDia" mat-icon-button color="primary" style="outline: none;"
                  [disabled]="p.length === 7 || eliminar===true" (click)="addTab()">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
                <button id="info" mat-icon-button style="right: 0;
                position: absolute; outline: none;" (click)="showInfo()">
                  <mat-icon style="color: black;transform: rotate(180deg);">priority_high</mat-icon>
                </button>
              </ng-container>
              <ng-template #elseEditBotones>
                <button id="edit" mat-icon-button (click)=editar()>
                  <mat-icon style="color:initial">edit</mat-icon>
                </button>
                <button id="favorite" mat-icon-button (click)=marcarFav() [disabled]="fav===true">
                  <mat-icon style="color:mediumblue">check</mat-icon>
                </button>
              </ng-template>
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>

        <ng-container
          *ngIf="Dia[index].titulo==='Día 1' || Dia[index].titulo==='Día 2'|| Dia[index].titulo==='Día 3' || Dia[index].titulo==='Día 4' || Dia[index].titulo==='Día 5' || Dia[index].titulo==='Día 6' || Dia[index].titulo==='Día 7'; else elseTitulo">
          <button mat-stroked-button color="primary" style="width: 100%; height: 40px;outline: none ;font-size: 27px;"
            (click)="cambiarNombre(index)">Titulo</button>
        </ng-container>
        <ng-template #elseTitulo>
          <button mat-stroked-button color="primary" style="width: 100%; height: 40px;outline: none ;font-size: 27px;"
            (click)="cambiarNombre(index)">{{Dia[index].titulo}}</button>
        </ng-template>

        <div *ngFor="let ejer of Ejercicios[index]; let i=index">


          <div id=2 class="ejercicio">
            <div class="row ">
              <div [ngSwitch]="ejer.color">
                <div *ngSwitchCase="1">
                  <div id="3" class="col-xs-1 superserie1"> </div>
                </div>
                <div *ngSwitchCase="2">
                  <div id="3" class="col-xs-1 superserie2"> </div>
                </div>
                <div *ngSwitchCase="3">
                  <div id="3" class="col-xs-1 superserie3"> </div>
                </div>
                <div *ngSwitchDefault>
                  <div id="3" class="col-xs-1 superserie"> </div>
                </div>
              </div>
              <div class="col-xs-3 cuadro-imagen">
                <img class="tipo-ejercicio rounded-circle" src="{{ejer.imagen}}" alt="Circular Image" alig="center">
              </div>
              <div id=4 class="col-xs-8 cuadro-atributos">
                <!--Aqui comprobaba si era el ultimo de de algo no me acuerdo-->
                <div class="row ">
                  <div class="col-xs-10 nombre-ejercicio">

                    {{ejer.nombre}}

                  </div>
                  <div class="col-xs-2 cuadro-super">
                    <div *ngIf="!edit">
                      <ng-container *ngIf="!eliminar; else elseEliminar">
                        <button id="{{index}}s1" mat-icon-button style="outline: none;" class="icon-superset"
                          (click)="pruebabotonSuperserie(index, i)">
                          <img src="assets/imagenes/superset2.png" width="90%; height:90%">
                        </button>
                      </ng-container>
                      <ng-template #elseEliminar>
                        <mat-checkbox class="example-margin" [(ngModel)]="ejer.eliminar" style="    margin-top: 90%;
                          display: block; "></mat-checkbox>

                        <!-- icono eliminar 
                          <button mat-icon-button style="outline: none;" class="icon-superset" (click)="showEliminar(index, i)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                      -->
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-xs-2 cuadro-icono1">
                    <img class="icono1" src="assets/imagenes/s2escalada.png" alt="">
                  </div>
                  <div class="col-xs-4 cuadro-serie nombre-serie">
                    {{ ejer.serie}} Serie
                  </div>

                  <ng-container *ngIf="ejer.repe; else elseRepe">
                    <div class="col-xs-6  cuadro-repeticiones nombre-serie">
                      {{ejer.repeticiones[0]}}
                    </div>
                  </ng-container>
                  <ng-template #elseRepe>
                    <div class="col-xs-6  cuadro-repeticiones nombre-serie">
                      Repeticiones: {{ejer.repeticiones[0]}}-
                      {{ejer.repeticiones[1]}}-
                      {{ejer.repeticiones[2]}}-
                      {{ejer.repeticiones[3]}}
                    </div>
                  </ng-template>
                </div>
                <mat-divider style="border-top-color: rgba(0,0,0,.85);
                margin-right: 8%;"></mat-divider>
              </div>

            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="nuevaPrincipal">
    <ng-container *ngIf="eliminar; else elseTemplate">
      <div class=boton-guardar>
        <button mat-fab (click)="botonEliminar()"
          style="background-color: #8400FF;outline: none; position: relative;left: 2%;">
          <i class="material-icons" style="color: white;">close</i> <!-- Animation here -->
        </button>
        <button mat-fab (click)="showEliminar(index, i)"
          style="background-color: #8400FF;outline: none; position: absolute; right: 2%;">
          <i class="material-icons" style="color: white;">delete_forever</i> <!-- Animation here -->
        </button>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div *ngIf="!edit">
  
        <div class=boton-guardar>
          <button mat-fab (click)="botonEliminar()"
            style="background-color: #8400FF;outline: none; position: relative;left: 2%;">
            <i class="material-icons" style="color: white;">remove</i> <!-- Animation here -->
          </button>
          <button mat-fab (click)="guardar()"
            style="background-color: #8400FF;outline: none; position: absolute; left:45%">
            <img src="assets/imagenes/salvar.png" style="width: 30px;">
          </button>
          <div *ngIf="!eliminar">
            <button mat-fab (click)="addEjercicio(selectedTab)"
              style="background-color: #8400FF;outline: none; position: absolute; right: 2%;">
              <i class="material-icons" style="color: white;">add</i> <!-- Animation here -->
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
 



</div>