<div class="ppp">
    <button id="quitar" class="quitar" (click)="onNoClick()" style="outline: none;outline: none;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    color: white;">
        <i class="material-icons">clear</i> <!-- Animation here -->
    </button>
    <div class="container-fluid">
        <div class="principal">
            <div class="row">
                <div class="col-xs-3" style="max-width: 65px;">
                    <img class="i-meta" src="assets/imagenes/tipo/espalda.png">
                </div>
                <div class="col-xs-9" style="height: 65px;
                width: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                text-align: center;">
                    <div style="font-size: 18px;">{{ejercicio.Nombre}}</div>
                </div>
            </div>
        </div>


        <div mat-dialog-content>
            <div *ngFor="let e of Hist; let i=index">
                <div class="historial">
                    <div class="row">
                        <div class="col-xs-12 " style="height: 72px;width: 100%;flex:1">
                            <div class="row">
                                <div class="fecha"> {{fecha[i]}} </div>
                                <div class="serie " style="height: 24px;width: 100%;    padding-left: 20%;">
                                    Serie: {{Hist[i].c.length}}
                                </div>
                            </div>
                            <div class="row" style="height: 24px; justify-content: center;">
                                <div *ngFor="let r of e.r; let p=index">
                                    <ng-container *ngIf="e.r.length==1; else elseR">
                                        <div class="col-xs-2 h " style="    width: 240px;">
                                            <mat-label class="l">{{r}}</mat-label>
                                        </div>
                                    </ng-container>
                                    <ng-template #elseR>
                                        <div class="col-xs-2 h">
                                            <mat-label class="l">{{r}}</mat-label>
                                        </div>
                                    </ng-template>
                                    
                                    
                                </div>

                                <div class="col-xs-2" style="width: 15%; ">
                                    <mat-label class="name">Repe</mat-label>
                                </div>
                            </div>
                            <div class="row" style="height: 24px; justify-content: center;">
                            <div *ngFor="let c of e.c; let j=index">    

                                <div class="col-xs-2 h">
                                    <mat-label class="l"> {{c}} kg</mat-label>
                                </div>
                            </div>

                                <div class="col-xs-2" style="width: 15%; ">
                                    <mat-label class="name"> Carga</mat-label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<ng-container *ngIf="ejercicio.Description ===''; else elseDescripcion">
    
</ng-container>
<ng-template #elseDescripcion>
    <div mat-dialog-actions style="justify-content: center;">
        <mat-label style="color:white; font-size: 16px;">Descripción</mat-label>
        <div style="height: 65px;
          background-color: #8400FF;
          border-radius: 17px;
          padding: 3px;
          width: 100%;
        justify-content: center;
    align-items: center;
    display: flex;"> {{ejercicio.Description}}
        </div>
    </div>
</ng-template>




</div>