::ng-deep.mat-dialog-container{
    
    background-color: #2e2896;
    color: white;
    border-radius: 21px;
  }
  ::ng-deep.mat-form-field{
      width: 60%;
  }
   .ppp{
     justify-content: center;
     text-align: center;
     align-items: center;
     font-family: sans-serif;
   }
   .row{
     margin:0;
     flex-wrap: inherit;
   }
   .container-fluid{
     padding: 0px;
     margin:0px;
   }
  .principal{
    margin-bottom: 5px;
  }
   .fecha{
    display: flex;
    font-size: 16px;
    color:black;
   }
   .serie{
    display: flex;
    font-size: 16px;
    color: black;
   }
   .historial{
    background-color: white;
    border-radius: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    margin-bottom: 5px;
   }
   .h{
    width: 15%;
    width: 60px;
    background-color: #2e2896;
    border:1px solid  white
   }
   .l{
    color:white;
   }
    .name{
      color:black 
    }
  .icono{
        width: 35px;
        height: 35px;
  }
  
  .i-meta{
    display: flex;
    position: sticky;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
  }
  .quitar{
    position: -webkit-sticky;
      display: block;
      position: relative;
      top: -18px;
      right: -15px;
      float: right;
      /* bottom: -33%; */
      /* left: 367px; */
      z-index: 1001;
  }
  ::ng-deep .mat-dialog-content{
    display: block;
    margin: 0 -24px;
    padding: 0 9px; 
    max-height: 65vh;
    overflow: auto;
  }
  ::ng-deep.mat-dialog-title {
    margin-top: 5px;
    margin-left: -51px;
    margin-bottom: 0;
  }
  
  ::ng-deep .mat-datepicker-toggle {
     color: white;
}
::ng-deep.mat-icon-button  .mat-calendar-body-today:not(.mat-calendar-body-selected){
    outline: none;
}
::ng-deep.button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled){
    outline: none;
}
::ng-deep.mat-calendar-body-today:not(.mat-calendar-body-selected) {
border-color: #8400FF;
}

::ng-deep.mat-raised-button {
   
  border-radius: 20px;
}