::ng-deep.mat-dialog-container{
    
  background-color: #2e2896;
  color: white;
  border-radius: 21px;
}
::ng-deep.mat-form-field{
    width: 60%;
}

 .ppp{
   justify-content: center;
   text-align: center;
   align-items: center;
 }
.editarmeta{
      display: inline-flex;
  background-color: #303030;
  width:50%;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:3px solid white;
}
.editarmeta:focus-within{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color:rgb(157, 80, 230,0.3);
  border-bottom:3px solid #8400FF
}
input{
  position: relative;
  width: 86%;
  padding-left: 10px;
  bottom: 0px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-size: 18px;
}
::placeholder{
    color: white;
}
.icono{
      width: 35px;
      height: 35px;
}

.i-meta{
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}


::ng-deep.mat-dialog-title {
  margin-top: 5px;
  
  margin-bottom: 0;
}
::ng-deep.mat-raised-button {
   
  border-radius: 20px;
}


