<div class="ppp">

<img class="i-meta" src="assets/imagenes/meta.png">
<ng-container *ngIf="nuevo; else elseTemplate">
  <h1 mat-dialog-title> Añadir Meta</h1>
</ng-container>
<ng-template #elseTemplate>
  <h1 mat-dialog-title> Editar Meta</h1>
</ng-template>




<div mat-dialog-content>
  
  <div class="editarmeta">
    <input type="number" step="0.01" placeholder="Meta" [(ngModel)]="data.meta" style="color:white;" autocomplete="off">
    <img class="icono" src="assets/imagenes/icons8-peso-kg-32.png">
  </div>
    
   <!-- <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="data.animal" placeholder="Meta" style="width: 69%; color:white;">
      <img src="assets/imagenes/icons8-peso-kg-32.png">
  </mat-form-field> -->
</div>
<div mat-dialog-actions style="justify-content: flex-end;margin-top:7px;">
  <button mat-raised-button color="white" (click)="onNoClick()" cdkFocusInitial style="width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Cancelar</button>
  <button mat-raised-button color="white" [mat-dialog-close]="data.meta" style="width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Guardar</button>
</div>

</div>