<div class="ppp">

  <img class="i-meta" src="assets/imagenes/escala3.png">
  <h1 mat-dialog-title>Añadir Peso</h1>
  <form [formGroup]="pesoForm" (ngSubmit)="addPeso(pesoForm.value)">
    <div mat-dialog-content>

      <div class="editarmeta">
        <input id="peso" type="number" step="0.01" placeholder="Peso" formControlName="peso" style="color:white" autocomplete="off">
        <img class="icono" src="assets/imagenes/icons8-peso-kg-32.png">
      </div>
      <div class="editarmeta">
        <input id="fecha" matImput placeholder="dd/mm/aaaa" [matDatepicker]='picker' formControlName="fecha" style="color:white;" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker" style="outline: none;"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <div mat-dialog-actions style="justify-content: flex-end;">
      <button mat-raised-button color="white" (click)="onNoClick()" cdkFocusInitial
        style="width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Cancelar</button>
      <button type="submit" mat-raised-button color="pwhite" style="width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Guardar</button>
    </div>
  </form>
</div>