::ng-deep.mat-dialog-container{
    
    background-color: #2e2896;
    color: white;
    border-radius: 21px;
  }
  ::ng-deep.mat-form-field{
      width: 60%;
  }
   .ppp{
     justify-content: center;
     text-align: center;
     align-items: center;
   }
  .editarmeta{
        display: inline-flex;
    background-color: #303030;
    width:55%;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:3px solid white;
    margin-bottom: 10px;
  }
  .editarpesotext{
      align-items: center;
    display: inline-flex;
    background-color: #303030;
    width:100%;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:3px solid white;
    margin-bottom: 10px;
  }
  .editarpesotext:focus-within{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:rgba(164, 99, 224, 0.459);
    border-bottom:3px solid #8400FF
  }
  .editarmeta:focus-within{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:rgba(164, 99, 224, 0.459);
    border-bottom:3px solid #8400FF
  }
  input{
    position: relative;
    width: 86%;
    padding-left: 10px;
    bottom: 0px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-size: 18px;
  }
  textarea{
      width: 100%;
      height: 40px;
    position: relative;
    padding-left: 10px;
    bottom: 0px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    color:white;
    font-size: 18px;
  }
  ::placeholder {
    color: var(--c, white);
}
  .icono{
        width: 35px;
        height: 35px;
  }
  
  .i-meta{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }
  
  ::ng-deep .mat-dialog-conten{
    justify-content: center;
    text-align: center;
    display: flex;
  }
  ::ng-deep.mat-dialog-title {
    margin-top: 5px;
   
    margin-bottom: 0;
  }
  
  ::ng-deep .mat-datepicker-toggle {
     color: white;
}
::ng-deep.mat-icon-button  .mat-calendar-body-today:not(.mat-calendar-body-selected){
    outline: none;
}
::ng-deep.button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled){
    outline: none;
}
::ng-deep.mat-calendar-body-today:not(.mat-calendar-body-selected) {
border-color: #8400FF;
}

::ng-deep.mat-raised-button {
   
  border-radius: 20px;
}
::ng-deep.mat-dialog-actions {
   padding: 0px 0; 
 
}