<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
<mat-toolbar color="primary" style="text-align: center;">
  <mat-toolbar-row>
    <button id="atras" mat-icon-button style="outline: none;" (click)="atras()">
      <mat-icon style="color:white">arrow_back</mat-icon>
    </button>
    <h1 style="position: relative;
          width: 100%;
          left: 0;
          text-align: center">{{Dia.titulo}}</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="fav; else elsefav">

      <mat-icon style="color:white">favorite</mat-icon>
      <!-- star_rate stars star star_border favorite favorite_border  done -->

    </div>
  </mat-toolbar-row>
  </mat-toolbar>

  <div class="container-fluid">

    <div *ngFor="let super of vectorEjercicios; let i=index">
     
      <ng-container *ngIf="hechos[i]==true; else elsePrueba">

      </ng-container>
      <ng-template #elsePrueba>
        <div id="border{{i}}" class="border1" (click)="ejecutar(Dia.id, i)">
          <div *ngFor="let ejer of vectorEjercicios[i]; let j=index">
            <div id=2 class="ejercicio">
              <div class="row ">
                
                <div id="3" class="col-xs-1 superserie"> </div>
                  
             
                <div class="col-xs-3 cuadro-imagen">
                  <img class="tipo-ejercicio rounded-circle" src="{{Superserie[ejer].imagen}}"
                    alt="Circular Image" alig="center">
                </div>
                <div id=4 class="col-xs-8 cuadro-atributos">
                  <!--Aqui comprobaba si era el ultimo de de algo no me acuerdo-->
                  <div class="row ">
                    <div class="nombre-ejercicio">

                      {{Superserie[ejer].nombre}}

                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-xs-2 cuadro-icono1">
                      <img class="icono1" src="assets/imagenes/s2escalada.png" alt="">
                    </div>
                    <div class="col-xs-4 cuadro-serie nombre-serie">
                      {{Superserie[ejer].serie}} Serie
                    </div>

                    <ng-container *ngIf="ejer.Repe; else elseRepe">
                      <div class="col-xs-6  cuadro-repeticiones nombre-serie">
                        {{Superserie[ejer].repeticiones[0]}}
                      </div>
                    </ng-container>
                    <ng-template #elseRepe>
                      <div class="col-xs-6  cuadro-repeticiones nombre-serie">
                        Repeticiones: {{Superserie[ejer].repeticiones[0]}}
                        {{Superserie[ejer].repeticiones[1]}}
                        {{Superserie[ejer].repeticiones[2]}}
                        {{Superserie[ejer].repeticiones[3]}}
                      </div>
                    </ng-template>
                  </div>
                  <div *ngIf="j!=vectorEjercicios[i].length-1">
                    <mat-divider style="border-top-color: rgba(0,0,0,.85);margin-right: 8%;"></mat-divider>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-template>

    </div>

    <div  style="height: 40px;"></div>
    <ng-container *ngIf="play; else elseTerminar">
      <div class=boton-final>
        <button type="submit" mat-flat-button color="primary" (click)="terminar()"
          style="width: 100%; height: 40px;outline: none;font-size: 20px;">
          Terminar
        </button>

      </div>
    </ng-container>
    <ng-template #elseTerminar>
      <div class=boton-final>
        <button mat-flat-button color="primary" (click)="empezar()"
          style="width: 100%; height: 40px;outline: none;font-size: 20px;">
         Empezar
        </button>

      </div>

    </ng-template>
  </div>
