.cont{
    height: 95%;
    width: 100%;
    display: block;
}

.mat-toolbar,.mat-toolbar-row,.mat-toolbar-multiple-rows{
    
  max-height: 56px;
  min-height: 56px;
}

.container-fluid{
  height: calc(100% - 56px);
  padding-left: 0px;
  padding-right: 0px;
  
}
.border1{
  /* background: linear-gradient(to right, #8D07F6,#0029FA);*/
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-color: blueviolet;
  border-radius: 5px;
  cursor: pointer;

}


.border1:hover{
  background-color: var(--c, rgb(214, 214, 214))
}
.row{
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  
}
 .ejercicio{
     width: 100%;
     height:81px; 
     
 }

  .superserie{
    width: 2%;
    height: 81px;
    max-width: 10px;
    min-width: 10px;
  }
  .superserie1{
    width: 2%;
    height: 81px;
    background-color: rgb(22, 224, 15);
    max-width: 10px;
    min-width: 10px;
    
  }
  .superserie2{
    width: 2%;
    height: 81px;
    background: #FFFF05;
    max-width: 10px;
    min-width: 10px;
  }
  .superserie3{
    width: 2%;
    height: 81px;
    background: rgb(23, 192, 204);
    max-width: 10px;
    min-width: 10px;
  }
  .cuadro-imagen{
    width: 25%;
    height: 81px;
    max-width: 81px;
    min-width: 75 px;
    margin-left:0px;
    padding: 3px; 
}
.cuadro-atributos{
    width: 73%;
    height: 81px;
    flex-grow: 1;
      
   
}
.cuadro-atributos1{
  width: 73%;
  height: 81px;
  flex-grow: 1;
  margin-right: 2px;
  margin-left: 2px;
}
.tipo-ejercicio{
  width: 75px;
  height: 75px;
  border-bottom-width: 3px; 
  border-bottom-style: outset;
  border-right-width: 3px;
  border-right-style: outset;
  
}
.nombre-ejercicio{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: Calibri; 
    font-size: 14px/*20*/
}
.cuadro-icono1{
    width: 11.5%;
    height: 29px;
    max-width: 32px;
    padding-left: 1px;
    /*border-bottom-width: 1px; border-bottom-style: solid*/
}
.cuadro-serie{
    width: 21%;
    height: 29px;
    max-width: 80px;
   /* border-bottom-width: 1px;
    border-bottom-style: solid;*/
    display: flex;
    align-items: center;
}
.cuadro-repeticiones{
    width: 66.5%;
    height: 29px;
   /* border-bottom-width: 1px; border-bottom-style: solid;
    margin-right: 1px;*/
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.nombre-serie{
  font-family: Calibri; 
  font-size: 14px;
}
.boton-final{

  display: block;
  z-index: 60;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 

}


@media (min-width:1024px){
  .ejercicio{
    height: 100px;
  }
  .superserie,.superserie1, .superserie2,.cuadro-atributos, .cuadro-atributos1 {
    height: 100px;
  }
  .cuadro-imagen{
    max-width: 100px;
    height: 100px;
  }
  .nombre-ejercicio{
    height: 62.5px;
    display: flex;
    align-items: center;
    font-size: 25px; /*30*/
  }
  .cuadro-repeticiones,.cuadro-serie{
    height: 36.25px;
  }
  .cuadro-icono1{
    height: 36.25px;
    max-width: 40px;
  }
  .tipo-ejercicio{
    height: 93.75px;
    width: 93.75px;
  }
 .icono1{
   width: 33.75px;
   height: 26.25px;
 }
 .nombre-serie{
  font-size: 17.5px;
 }
}


 @media (max-width:360px){
    .cuadro-atributos,.cuadro-atributos1{
      width: 70%;
    }
  }

