.btn-color-1 {
    width: 80%;
    font-weight: 600;
    min-width: 240px;
    margin: 10px;
    height: 50px;
    font-family: Calibri; 
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 15px;
    background-image: linear-gradient(to right, #8d07f6, #021b79);
    border-radius: 19px;
}
.addRutina{
    color:  #673ab7;
    font-size: 75px;
    vertical-align: bottom;
    width: 75px;
    background-size: 300% 100%;
}
.container-fluid{
    height: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}
 

@media(orientation: landscape){
    .a{
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media(min-width:1022){
        .a{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
@media (min-width:768px)and (min-height:1024px){
 
    .btn-color-1{
        height: 80px;
        font-size: 30px;
    }
}
