<!--
<div id="completo" class="contenedor">
    <div class="contenido">
        <div *ngFor="let item of Dia; let i=index">
            <button (click)="redirigir(item.id, item.titulo)" type="button" class="btn btn-color-1">{{item.titulo }}</button>
        </div>
    </div>
</div> 

-->


<div class="container-fluid">
    <div *ngIf="nuevo && numRutinas==0" class="row row-cols-1">
        <div class="col align-items-center">
            <mat-icon (click)="addRutina()" class="addRutina">add_circle</mat-icon>
        </div>
    </div>
    <div id="1" class="row row-cols-1">
    <div *ngIf=" nuevo && numRutinas>0;">
        <div class="col aling-items-center" style="text-align: center   ;">
            No tiene ninguna Rutina seleccionada como principal, seleccionala en MisRutinas
        </div>
    </div>
    <div *ngFor="let item of Dia; let i=index">
        
            <div class="col align-items-center" style="text-align: center;">
                <button (click)="redirigir(item.id, item.titulo)" type="button" class="btn btn-color-1">{{item.titulo }}</button>
            </div>
       
        
    </div>
</div>
</div>