<div class="ppp">
    <button id="quitar" class="quitar" (click)="onNoClick()" style="outline: none;outline: none;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    color: white;">
        <i class="material-icons">clear</i> <!-- Animation here -->
    </button>
    <img class="i-meta" src="{{imagen}}">
    <ng-container *ngIf="modificable; else elseTemplate">
        <h1 mat-dialog-title> Editar Ejercicio</h1>
    </ng-container>
    <ng-template #elseTemplate>
        <h1 mat-dialog-title> {{data.nombre}}</h1>
    </ng-template>

    <form [formGroup]="ejercicioForm" (ngSubmit)="modificar(ejercicioForm.value)">
        <div mat-dialog-content>
            <ng-container *ngIf="modificable!=false">
                <div id="n1" class="editarejer">
                    <input id="nombre" type="text" placeholder="Nombre *" formControlName="nombre" style="color:white"
                        autocomplete="off">
                </div>
                <div id="n2" class="editarejer">
                    <mat-select id="musculo" [(value)]="selected" placeholder="Musculo *" formControlName="musculo">
                        <mat-option>Musculo</mat-option>
                        <mat-option value="Abdomen" (click)="cambioimagen(selected)">Abdomen</mat-option>
                        <mat-option value="Biceps" (click)="cambioimagen(selected)">Biceps </mat-option>
                        <mat-option value="Cardio" (click)="cambioimagen(selected)">Cardio</mat-option>
                        <mat-option value="Espalda" (click)="cambioimagen(selected)">Espalda</mat-option>
                        <mat-option value="Hombro" (click)="cambioimagen(selected)">Hombros</mat-option>
                        <mat-option value="Pecho" (click)="cambioimagen(selected)">Pecho</mat-option>
                        <mat-option value="Piernas Superiores" (click)="cambioimagen(selected)">Piernas Superiores
                        </mat-option>
                        <mat-option value="Piernas Inferiores" (click)="cambioimagen(selected)">Piernas Inferiores
                        </mat-option>
                        <mat-option value="Oblicuos" (click)="cambioimagen(selected)">Oblicuos</mat-option>
                        <mat-option value="Triceps" (click)="cambioimagen(selected)">Triceps</mat-option>
                    </mat-select>
                </div>
                <div *ngIf="selected=='Cardio';">
                    <div class="editarejer">
                        <mat-select id="musculo" [(value)]="selected2" placeholder="Musculo *"
                            formControlName="musculo">
                            <mat-option>Cardio</mat-option>
                            <mat-option value="Bicicleta" (click)="cambioimagen(selected2)">Bicicleta</mat-option>
                            <mat-option value="Cinta" (click)="cambioimagen(selected2)">Cinta</mat-option>
                            <mat-option value="Eliptica" (click)="cambioimagen(selected2)">Elíptica</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div id="n3" class="editarejertext">
                    <textarea id="descripcion" placeholder="Descripcion" formControlName="descripcion"></textarea>
                </div>
                <!-- <mat-form-field appearance="fill">
                    <input matInput [(ngModel)]="data.animal" placeholder="Meta" style="width: 69%; color:white;">
                    <img src="assets/imagenes/icons8-peso-kg-32.png">
                </mat-form-field> -->
            </ng-container>
        </div>
        <ng-container *ngIf="modificable==false">
            <ng-container *ngIf="data.descripcion===''; else elseD">

            </ng-container>
            <ng-template #elseD>
                <label style=display:flex>Descripcion</label>
                <div class="descripcion">
                    <div style="padding-left: 5px;">
                        {{data.descripcion}}
                    </div>
                </div>
            </ng-template>



        </ng-container>

        <div mat-dialog-actions style="justify-content: flex-end;">
            <ng-container *ngIf="modificable; else elseModificar">
                <button id="modi" type="submit" mat-raised-button color="white" style=" width: 93.41px;;outline: none; color:black; border:3px solid #8400FF"
                (click)="modificar()">Guardar</button>
            </ng-container>
            <ng-template #elseModificar>
                <button id="hist" mat-raised-button color="white" (click)="historial()" 
                style=" width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Historial</button>
            <button id="edit" mat-raised-button color="white" (click)="editar()" cdkFocusInitial
                style=" width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Editar</button>
            </ng-template>
        </div>
    </form>
</div>