<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

<body class="p">

  <!-- Modal HTML -->

  <div class="modal fade show" style="display: block;"> 
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          
          <img class="icono-principal" src="assets/imagenes/LOGO.png" alt="" >
         <h4 class="modal-title">GymRoutine</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="registroForm" (ngSubmit)="Registrarse()">
            <div class="form-group">
              <input id="email" type="text" class="form-control borde" placeholder="Email" formControlName="email" autocomplete="off">
            </div>
            <div class="form-group" >
              <input id="p1" type="password" class="form-control" placeholder="Contraseña" formControlName="password" autocomplete="off">
            </div>
            <div class="form-group" >
                <input id="p2" type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="rpassword" autocomplete="off">
              </div>
           
            <div class="form-group cla">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Registrarse </button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>

</body>
