<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

<body class="p">

  <!-- Modal HTML -->

  <div class="modal fade show" style="display: block;"> 
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          
          <img class="icono-principal rounded-circle" src="assets/imagenes/LOGO.png" alt="" >
         <h4 class="modal-title">GymRoutine</h4>
        </div>
        <div id="error" class="merror">{{mensajeError}}</div>
        <div class="modal-body">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
         
            <div class="form-group">
              <input id="email" type="text" class="form-control borde" placeholder="Email" formControlName="email" autocomplete="off">
            </div>
            <div class="form-group" style="margin-bottom: 5px;">
              <input  id= "p1" type="password" class="form-control" placeholder="Contraseña" formControlName="password" required="required" autocomplete="off">
            </div>
            <p class="hint-text small">Olvidastes tu<a (click)="restablecerContrasenia()"> Contraseña?</a></p>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-lg" > Login</button>
            </div>
           
          </form>
          <p class="crear small" style="margin-bottom: 5px;">¿No tienes una cuenta?</p>
           <p class="hint-text small" style="padding: 0; text-align: center; font-size: 15.8px; margin: 0;"> <a (click)="botonRegistrarse()">Regístrate</a></p>
        </div>
      </div>
    </div>
  </div>

</body>
