.container{
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    display:flex; 
    flex-direction:column;
    font-family: Calibri;
}
.grafica{
    margin: 10px;
    box-shadow: 0px 0px 9px 2px rgba(148,138,148,1);
}
.elemento{
    margin-right: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pesos{
    flex:1;/* will use whole space left below image if height is set to #outer */
    overflow:auto; 
}
.cuadro-vacio{
  
    width: 50%;
    height: 50px;
    flex-grow: 1;
}
.cuadro-peso{
    width: 25%;
    height: 50px;
    max-width: 101px;
 
    border-top: 2px solid;
    border-left: 2px  solid;
    border-bottom: 2px solid;
    border-right: 1px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #8400FF; 
}
.cuado-peso:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
}

.cuadro-meta{
    width: 25%;
    height: 50px;
    max-width: 101px;
    margin-left: -2px;
    border-top: 2px solid;
    border-right: 2px  solid;
    border-bottom: 2px solid;
    border-left: 1px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #8400FF; 
}

.boton-peso{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 23px;
    
}
.boton-peso:focus{
   outline: none; 
}
.row{
    display: flex;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.boton-guardar{
    display: flex;
    z-index: 60;
    position: fixed;
    bottom: 8px;
    left: 0;
    width: 100%; 
}
.cuadro-pesos{
    display: flex;
    height: 40px;
    width: 90%;
    border-radius: 30px;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f7f5fc;
    border: 2px solid mediumblue;
    /*
    background-color:rgb(157, 80, 230,0.3);
    border: 2px solid mediumblue;

    background-color: #f7f5fc;
    border: 2px solid #8400FF;
    */
    
}
.fecha{
    width: 50%;
    text-align: left;
    padding-left: 15px;
    font-size: 19px;
    float: left;
}
.nombre-peso{
    width: 50%;
    text-align: right;
    padding-right: 15px;
    font-size: 19px;
    display: table;
}
.cuadro-vacio1{
    width: 75%;
    height: 30px;
    flex-grow: 1;
}
.cuadro-boton{
    width: 25%;
    height: 30px;
}


#fab-dismiss {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0,0,0,.32);
  }

  .fab-container {
    position: fixed;
    bottom: 8px;
    right: 8px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .fab-container > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;
}
  
  .fab-toggler {
   float: right;
    z-index: 100;
  }
  ::ng-deep.mat-mini-fab {
    width: 50px;
    height: 50px;
    }

    .label{
        background-color: #8400FF;
        color:white;
        border-radius: 5px;
        width: 36px;
        height: 24px;
        margin-left: -60px;
        margin-right: 15px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
::ng-deep .mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #8400FF;
    color:white;
}
::ng-deep.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    background-color: #8400FF;
    color: white;
}
::ng-deep._mat-animation-noopable.mat-mini-fab {
    
    margin-top: 5px;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: red !important; /* Red background for example */
}