<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <div id="fab-dismiss" *ngIf="fabTogglerState==='active'" (click)="onToggleFab()"></div>
  <div class="row elemento">
    <div class="col-xs-3 cuadro-peso">
      <button mat-button class="boton-peso" (click)="openPeso()">
        Peso
        <br>
        {{peso}} kg
      </button>
    </div>
    <div class="col-xs-3 cuadro-meta">
      <button mat-button class="boton-peso" (click)="openMeta(false)">
        Meta
        <br>
        {{meta}} kg
      </button>
    </div>
  </div>
  <mat-card class="grafica">
    <div style="display: block;">
      <canvas baseChart width="400" height="300" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-card>

  <div class="pesos">

    <div *ngFor="let p of vectPesos; let i=index">

      <div class="row elemento">
        <div class="col-xs-1" style="display: flex;margin-right: 4%;">
          <div *ngIf="eli">
            <mat-checkbox class="example-margin" [(ngModel)]="p.eliminar"></mat-checkbox>
          </div>

        </div>
        <div class="col-xs-11 cuadro-pesos">
          <button (click)="showPeso(p.id)" mat-button
            style="width: 100%;height: 100%;outline: none;font-family: Calibri;">
            <div class="fecha">{{p.fecha}} </div>
            <div class="nombre-peso"> {{p.peso}} kg</div>
          </button>
        </div>


      </div>



    </div>
  </div>
  <div class=boton-guardar>
    <ng-container *ngIf="eli; else elseEliminar">
      <button mat-fab (click)="eliminarElementos()"
        style="background-color: #8400FF;outline: none; position: relative;left: 2%;">
        <i class="material-icons" style="color: white;">close</i> <!-- Animation here -->
      </button>
      <button mat-fab (click)="mensajeError()" style="background-color: #8400FF;outline: none; position: absolute;
            right: 2%;">
        <i class="material-icons" style="color: white;">delete</i> <!-- Animation here -->
      </button>
    </ng-container>
    <ng-template #elseEliminar>
      <button mat-fab (click)="eliminarElementos()"
        style="background-color: #8400FF;outline: none; position: relative;left: 2%;">
        <i class="material-icons" style="color: white;">remove</i> <!-- Animation here -->
      </button>
      <div class="fab-container">

        <button mat-fab class="fab-toggler" (click)="onToggleFab()" style="outline: none;">
          <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
        </button>

        <div [@speedDialStagger]="buttons.length">
          <!-- and here -->
          <button *ngFor="let btn of buttons" class="fab-botones" mat-raised-button (click)="fabButton(btn.label)"
            style="margin: 4px;
                    line-height: 33px;
                    padding: 0px 8px;
                    min-width: 83px;
                    min-height: 33px;
                    border-radius: 20px;">
            {{btn.label}}
          </button>
        </div>

      </div>
    </ng-template>


  </div>