<div class="container-fluid">
    <div class="selector">
        <mat-form-field>
            <mat-label>Musculo</mat-label>
            <mat-select id="b">
                <mat-option *ngFor="let type of typeEjercicios" value="type.value" (click)="filtro(type.viewValue)">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="ejercicios">
        <div *ngFor="let ejer of vecEjercicios">


            <div class="cuadro-ejercicio">
               
                <div style="display: flex;width: 20px;float: left;margin-top: 15px;margin-left: 10%;margin-left: 3%;margin-right: 3%;">
                    <div *ngIf="eli">
                        <mat-checkbox class="example-margin" [(ngModel)]="ejer.eliminar"></mat-checkbox>
                    </div>
                </div>

                <button style="height: 54px;width: 80%;border-radius: 30px;border: 2px solid;
                    border-width: 2px solid;
                    border-color: #8400FF;
                    outline: none;
                    display:block;
                    position: inherit;
                    background: transparent;" (click)="mostrar(ejer.id)">
                    <img class="rounded-circle" src="{{imagenes(ejer.musculo)}}" alt="Circular Image" style=" width: 50px;
                    height: 50px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin-left: 2px;">
                    <div class=nombre-ejercicio1>{{ejer.nombre}}</div>


                </button>
            </div>
        </div>
        <div style="height: 66px;"></div>

    </div>
    <div style="height: 60px;width: 100%;"></div>
    <div class=boton-guardar>
        <ng-container *ngIf="eli; else elseEliminar">
            <button mat-fab (click)="eliminarElementos()"
                style="background-color: #8400FF;outline: none; position: relative;left: 2%;">
                <i class="material-icons" style="color: white;">close</i> <!-- Animation here -->
            </button>
            <button mat-fab (click)="mensajeError()" style="background-color: #8400FF;outline: none; position: absolute;
                right: 2%;">
                <i class="material-icons" style="color: white;">delete</i> <!-- Animation here -->
            </button>
        </ng-container>
        <ng-template #elseEliminar>
            <button mat-fab (click)="eliminarElementos()"
                style="background-color: #8400FF;outline: none; position: relative;left: 2%;">
                <i class="material-icons" style="color: white;">remove</i> <!-- Animation here -->
            </button>
            <button mat-fab (click)="addEjercicioVentana()"
                style="background-color: #8400FF;outline: none; position: absolute;right: 2%;">
                <i class="material-icons" style="color: white;">add</i> <!-- Animation here -->
            </button>
        </ng-template>

    </div>



</div>