.container-fluid{
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    display:flex; 
    flex-direction:column;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}
.selector{
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
::ng-deep.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: #8400FF;
    color: white;
}

::ng-deep.mat-select-arrow {
    color: rgba(0,0,0,.54);
}
.ejercicios{
    flex:1;
    overflow: auto;
}




.nombre-ejercicio1{
    line-height: 25px;
    height: 100%;
    width: 100%;
    padding-left: 45px;
    white-space: break-spaces;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cuadro-ejercicio{
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}

::ng-deep.mat-select-value {
    color: rgba(0,0,0,.87);
}
::ng-deep.mat-form-field{
    width: 60%;
}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
      background-color: #303030;
  }
  .botonfab1{
    
        float: right;
        z-index: 100;
    
  }
  .fab-container1 {
    position: fixed;
    bottom: 1%;
    right: 3%;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
   
  }
  .fab-container1 > div {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          margin-bottom: 5px;
  }   
  .boton-guardar{
    display: flex;
    z-index: 60;
    position: fixed;
    bottom: 8px;
    left: 0;
    width: 100%; 
}
  ::ng-deep .mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    color: white;
}
::ng-deep.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #8400FF;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: red !important; /* Red background for example */
}