<div class="ppp">
  <button id="quitar" class="quitar" (click)="onNoClick()" style="outline: none;outline: none;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  color: white;">
    <i class="material-icons">clear</i> <!-- Animation here -->
  </button>
  <img class="i-meta" src="{{imagen}}">
  <h1 mat-dialog-title>Añadir Ejercicio</h1>
  <form [formGroup]="ejercicioForm" (ngSubmit)="addEjercicio(ejercicioForm.value)">
    <div mat-dialog-content>

      <div class="editarmeta">
        <input id="nombre" type="text" placeholder="Nombre *" formControlName="nombre" style="color:white"
          autocomplete="off">
      </div>
      <div class="editarmeta">
        <mat-select id="musculo" [(value)]="selected" placeholder="Musculo *" formControlName="musculo">
          <mat-option>Musculo</mat-option>
          <mat-option value="Abdomen" (click)="cambioimagen(selected)">Abdomen</mat-option>
          <mat-option value="Biceps" (click)="cambioimagen(selected)">Biceps </mat-option>
          <mat-option value="Cardio" (click)="cambioimagen(selected)">Cardio</mat-option>
          <mat-option value="Espalda" (click)="cambioimagen(selected)">Espalda</mat-option>
          <mat-option value="Hombro" (click)="cambioimagen(selected)">Hombros</mat-option>
          <mat-option value="Pecho" (click)="cambioimagen(selected)">Pecho</mat-option>
          <mat-option value="Piernas Superiores" (click)="cambioimagen(selected)">Piernas Superiores</mat-option>
          <mat-option value="Piernas Inferiores" (click)="cambioimagen(selected)">Piernas Inferiores</mat-option>
          <mat-option value="Oblicuos" (click)="cambioimagen(selected)">Oblicuos</mat-option>
          <mat-option value="Triceps" (click)="cambioimagen(selected)">Triceps</mat-option>
        </mat-select>
      </div>
      <div *ngIf="selected==='Cardio';">
        <div class="editarmeta">
          <mat-select id="musculo" [(value)]="selected2" placeholder="Musculo *" formControlName="musculo">
            <mat-option>Cardio</mat-option>
            <mat-option value="Bicicleta" (click)="cambioimagen(selected2)">Bicicleta</mat-option>
            <mat-option value="Cinta" (click)="cambioimagen(selected2)">Cinta</mat-option>
            <mat-option value="Eliptica" (click)="cambioimagen(selected2)">Elíptica</mat-option>
          </mat-select>
        </div>
      </div>


      <div class="editarpesotext">
        <textarea placeholder="Descripcion" formControlName="descripcion"></textarea>
      </div>
      <!-- <mat-form-field appearance="fill">
              <input matInput [(ngModel)]="data.animal" placeholder="Meta" style="width: 69%; color:white;">
              <img src="assets/imagenes/icons8-peso-kg-32.png">
          </mat-form-field> -->
    </div>
    <div mat-dialog-actions style="justify-content: flex-end;">
      <button mat-raised-button color="white" (click)="onNoClick()" cdkFocusInitial
        style="outline: none; color:black; border:3px solid #8400FF">Cancelar</button>
      <button type="submit" mat-raised-button color="white" style=" width: 93.41px;;outline: none; color:black; border:3px solid #8400FF">Guardar</button>
    </div>
  </form>
</div>