::ng-deep.mat-dialog-container{
    
    background-color: #2e2896;
    color: white;
    border-radius: 21px;
  }


   .ppp{
     justify-content: center;
     text-align: center;
     align-items: center;
   }
  .editarmeta{
        display: inline-flex;
    background-color: #303030;
    width:100%;
    box-sizing:border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #50559e8c;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:3px solid white;
    margin-bottom: 10px;
  }
  .editarpesotext{
      align-items: center;
    display: inline-flex;
    background-color: #303030;
    width:100%;
    box-sizing:border-box;
    background-color: #50559e8c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:3px solid white;
    margin-bottom: 18px;
  }
  .editarpesotext:focus-within{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:rgba(0, 217, 255, 0.459);
    border-bottom:3px solid rgba(0, 217, 255);
  }
  .editarmeta:focus-within{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:rgba(0, 217, 255, 0.459);
    border-bottom:3px solid rgba(0, 217, 255);
  }
  input{
    position: relative;
    width: 100%;
    padding-left: 10px;
    bottom: 0px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    
    font-size: 18px;
  }
  textarea{
      width: 100%;
      height: 122px;
    position: relative;
    padding-left: 10px;
    bottom: 0px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    color:white;
    font-size: 18px;
  }
  ::placeholder {
    color: var(--c, white);
}
  .icono{
        width: 35px;
        height: 35px;
  }
  
  .i-meta{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    margin-left: 13%;
  }

  
  ::ng-deep.mat-select-value {
    color: white;
}
::ng-deep.mat-select-placeholder{
    color: var(--p, white);
}
::ng-deep.mat-select-arrow{
    color:white;
}
::ng-deep.mat-select-value {
   
    text-align: initial;
    padding-left: 9px;
    
}
::ng-deep.mat-select {
    /* font-family: Roboto,"Helvetica Neue",sans-serif; */
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
}
::ng-deep.mat-raised-button {
   
    border-radius: 20px;
}
.quitar{
  position: -webkit-sticky;
    display: block;
    position: relative;
    top: -18px;
    right: -15px;
    float: right;
    /* bottom: -33%; */
    /* left: 367px; */
    z-index: 1001;
}