<div class="ppp">
    <button id="quitar"  class="quitar" (click)="onNoClick()" style="outline: none;outline: none;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    color: white;">
        <i class="material-icons">clear</i> <!-- Animation here -->
    </button>
    <h1 mat-dialog-title>Información</h1>
        <div mat-dialog-content>

            <div class="texto">
                Para crear una superserie tienen que tener el mismo color varios ejercicios consecutivos.
                Como en el siguiente ejemplo hay tres superseries.
            </div>
            <div class="imagen">
                <img class="i-meta" src="assets/imagenes/ejemplo.png" style="width:90%; height: 318px;">
            </div>
                       
        </div>
</div>