.quitar{
    position: -webkit-sticky;
      display: block;
      position: relative;
      top: -18px;
      right: -15px;
      float: right;
      /* bottom: -33%; */
      /* left: 367px; */
      z-index: 1001;
  }
  ::ng-deep.mat-dialog-container{
    
    background-color: #2e2896;
    color: white;
    border-radius: 21px;
  }
  ::ng-deep .mat-dialog-title {
    margin: 0 0 2px;
    display: block;
    margin-left: 10%;
    /* text-align: center; */
}
   .ppp{
     justify-content: center;
     text-align: center;
     align-items: center;
   }
  .icono{
        width: 35px;
        height: 35px;
  }
  
  .i-meta{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }


::ng-deep.mat-raised-button {
   
    border-radius: 20px;
}